/*About us page*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*----Logo, Top Buttons, Menu & Search Bar----*/

/*----Header background----*/
.header {
    height: 350px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/bg4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*----Navigation menu----*/
nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

    /*----Logo----*/
    nav img {
        width: 150px;
        height: 100px;
    }

.company-name {
    font-size: 62px;
    color: white;
    margin-left: 50px;
}

/*----Top buttons----*/
/*----Renewal, Claim----*/
.button-link ul {
    float: right;
}

.topbtn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/*----Sign up----*/
.topbtn-sign {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

/*----Login----*/
.topbtn-log {
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/*----Renewal, Claim Hover effect----*/
.topbtn:hover {
    border: 1px solid #f44336;
    background: rgb(27, 41, 65);
    transition: 1s;
}

/*----Sign up, Login Hover effect----*/
.topbtn-sign:hover {
    border: 1px solid #f44336;
    background: rgb(229, 120, 37);
    transition: 1s;
}

.topbtn-log:hover {
    border: 1px solid #f44336;
    background: rgb(229, 120, 37);
    transition: 1s;
}

/*----Navigation bar----*/
.nav-links {
    flex: 1;
    text-align: left;
    float: left;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }

        .nav-links ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 25px;
            font-family: monospace;
        }

        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: orangered;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%;
        }

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 25px;
    font-family: monospace;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        /*padding: 12px 16px;*/
        text-decoration: none;
        text-align: left;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: lightsalmon
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

/*----Search bar----*/
.search {
    width: 300px;
    float: right;
    /* margin-left: 540px; */
}

.srch {
    font-family: monospace;
    font-size: 16px;
    font-style: italic;
    background: transparent;
    width: 200px;
    height: 40px;
    border: 1px solid orangered;
    border-right: none;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.sbtn {
    width: 100px;
    height: 40px;
    background-color: rgb(246, 139, 31);
    border: 2px solid orangered;
    color: white;
    font-family: monospace;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.srch-icon {
    width: 20px;
    height: 20px;
}

/*office image*/
.office {
    width: 98%;
    height: 50vh;
    background-size: cover;
    margin: auto;
    display: block;
}

/*who we are */
.info h2 {
    width: 25%;
    background-color: lavender;
    margin: 30px 10px 10px 10px;
    padding: 10px;
    border-style: solid;
    border-color: black lavender lavender lavender;
}

.info p {
    margin: 0px 10px;
    /* font-size: 22px; */
}

/*mission and vision*/
.column {
    column-count: 2;
    column-gap: 10px;
    /* font-size: 22px; */
}

.vision h2 {
    width: 95%;
    float: left;
    background-color: aquamarine;
    margin: 40px 10px 5px 10px;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.column p {
    width: 90%;
    float: left;
    box-sizing: content-box;
    padding: 10px;
    min-height: 100px;
}

.mission h2 {
    width: 95%;
    float: right;
    background-color: lightblue;
    margin: 40px 10px 5px 10px;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/*history*/
.history h2 {
    width: 95%;
    float: left;
    background-color: lightcoral;
    margin: 50px 10px 5px 10px;
    padding: 10px;
    border-style: solid;
    border-color: black lightcoral lightcoral lightcoral;
    min-height: 20px;
}

/*Award image*/
.Award {
    width: 60%;
    background-size: contain;
    height: 40vh;
    border-style: solid;
    border-color: black;
    display: block;
}

/*employee image and heading*/
.employee {
    text-align: right;
    float: right;
    margin: 60px 10px 5px 10px;
    padding: 10px;
}

    .employee h3 {
        position: absolute;
        top: 1665px;
        margin-left: 900px;
    }

    .employee img {
        margin-top: 60px;
        position:relative;
        width: 550px;
        border-style: groove;
    }

/*Why choose us heading, slides,image, text and buttons*/
.container {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

    .container h2 {
        text-align: left;
        color: darkslategrey;
        margin: 0px 10px 10px 10px;
        padding: 20px;
    }

.block {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.information {
    flex-basis: 28%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px;
    cursor: pointer;
    display: flex;
}
    /*image*/
    .information img {
        height: 130px;
        margin-top: 10px;
        width: 130px;
        margin-left: 50px;
        border-style: groove;
    }
    /*text*/
    .information p {
        margin-top: 150px;
        text-align: center;
        margin-left: -160px;
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
/*slides*/
.slides {
    display: none;
    box-sizing: border-box;
}
/*previous button*/
.buttonprev {
    width: 60px;
    position: absolute;
    top: 1448px;
    left: 30px;
    height: 60px;
    background-color: white;
    border-style: none;
    font-size: 40px;
    font-weight: bold;
    margin-left: 70px;
}
/*next button*/
.buttonnext {
    width: 60px;
    position: absolute;
    top: 1450px;
    right: 30px;
    background-color: white;
    border-style: none;
    font-size: 40px;
    font-weight: bold;
    margin-right: 70px;
}
    /*hover over buttons*/
    .buttonprev:hover, .buttonnext:hover {
        background-color: black;
        color: white;
    }


/*for register for digitalized services*/
.text-box-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

    .text-box-btn:hover {
        border: 1px solid #f44336;
        background: tomato;
        transition: 1s;
    }

/*----Sign up link----*/
.sign {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/signup.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}

    .sign h1 {
        color: white;
        margin-bottom: 40px;
        padding: 0;
    }


/*----Footer----*/
footer {
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 20px 0 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 13px;
    line-height: 15px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 15%;
    }

.flogo {
    width: 80px;
    height: 60px;
    /*margin: 30px;*/
}

.col h3 {
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.email {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.col p a {
    text-decoration: none;
    color: white;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

    ul li a {
        text-decoration: none;
        color: white;
    }

.social-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: transparent;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}
