/*form*/
.form {
    background: beige;
    box-sizing: border-box;
    display: block;
    margin: 0px 55px 8px 55px;
    padding: 20px;
    min-height: 50vh;
    width: 45%;
    float: left;
    height: 40vh;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*form header*/
.fdheader {
    width: 45%;
    margin: 0px 55px;
    padding: 7px 0px;
    float: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-weight: bold;
    background-color: burlywood;
}

/*star ratings*/
.star {
    margin-top:5px;
    width: 60%;
}

    .star input {
        display: none;
    }

    .star label {
        color: lightgrey;
        float: right;
        font-size: 40px;
        cursor: pointer;
    }

        .star label:before {
            content: '★';
        }

    .star input:checked ~ label {
        color: gold;
    }

/*submit button*/
#submit {
    float: right;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: lightskyblue;
    padding: 10px;
}

    #submit:hover {
        background-color: burlywood;
    }
